@model School

@{
    ViewData["Title"] = "school information";
    Layout = "_Simple";
}
<h1>School: @ViewData["Title"]</h1>
<h2>Name School: @Model.Name</h2>
<h3>School Type: @Model.TipoEscuela</h3>
<address>
    <p>Direccci&oacute;n: @Model.Dirrecion </p>
    <p>Pa&iacute;s: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>
<p><strong>foundation year: @Model.YearF</strong></p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.CosaDinamica</p>
    <p>@ViewData["CosaDinamica"]</p>
</div>
